.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 50px 50px;
}

.aboutText {
    margin: 2.5rem;
}

.aboutText h1 {
    font-size: 1.75rem;
}

.aboutText p {
    text-indent: 1.5em;
    margin-top: 1rem;
}

.imgContainer img {
    height: 25rem;
    width: auto;
    border-radius: 10px;
    padding-left: 4rem;
}

@media (max-width: 1020px) {
    .imgContainer img {
        height: 16rem;
        width: auto;
    }
}

@media (max-width: 750px) {
    .imgContainer img {
        display: none;
    }
}
