.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 5rem
}

.aboutText {
    margin: 2.5rem;
    width: 30%;
}

.aboutText h1 {
    font-size: 2rem;
    margin-bottom: 3rem;
    color: var(--darkYellow);
}

.aboutText p {
    text-indent: 1.5em;
    margin-top: 0.75rem;
}

.imgContainer{
  display: flex;
}

.imgContainer img {
    height: 25rem;
    width: auto;
    border-radius: 10px;
    position: absolute;
    z-index: 10;
    transform: rotate(0deg);
}

.imgContainer img:hover {
  transform: rotate(15deg);
}

.imgContainer:before {
  background-color: var(--darkYellow);
  width: 26rem;
  height: 26rem;
  content: "";
  display: flex;
  position: relative;
  transform: rotate(-8deg);
  border-radius: 10px;

}

.imgContainer:hover {
  transform: rotate(-10deg);
}

@media (max-width: 1020px) {
    .imgContainer img {
        height: 16rem;
        width: auto;
    }
}

@media (max-width: 750px) {
    .imgContainer img {
        display: none;
    }
}
