.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 100px 50px;
}

.aboutText {
    margin:  2.5rem;
    color: var(--darkText);
}

.aboutText h1{
    font-size:1.75rem;
}

.aboutText p  {
    text-indent: 1.5em;
    margin-top:1rem;
}

.imgContainer img{
   height: 25rem;
   width:auto; 
    border-radius: 10px;
    padding-left: 4rem;
}

@media (max-width: 1020px) {
    .imgContainer img{
        height: 18rem;
        width:auto; 
    }
}

@media (max-width: 850px) {
    .about {
        flex-direction: column-reverse;
        margin-top: 250px;
    }

    .imgContainer img{
        height: 12rem;
        width:auto; 
        border-radius: 50%;
        padding: 0;
        border: 2px solid var(--darkText)
    }
}
