.container {
    display: flex;
    direction: row;
    justify-content: space-between;
    scroll-behavior: smooth;
}


.projectCard {
    background: var(--light);
    width: 250px;
    height: 300px;
    border-radius: 10px;
    display:flex;
    align-items: center;
    flex-direction:column;
    margin: 0 2.5rem;
    transition: transform 300ms ease 100ms;
}



.projectCard h2 {
    color: var(--darkText);
    margin: 20px;
}

.projectCard img {
    width: 200px;
    height: 150px;
    background: gainsboro;
    margin-bottom: .8rem;
}

.techs, .more {
    color: var(--darkText);
    font-size: 1rem;
    font-weight: bold; 
}


.more {
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding: 1rem 0;

}
