.pageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
    min-height: 90vh;
    position: relative;
}

.homeContainer {
  position: absolute;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 100%;
  align-items: flex-end;
  justify-content: space-around;
}

.homeContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 0 100px;
    min-width: 600px;
}

.name {
  font-size: 3rem;
}

.greetings {
    font-size: 1.5rem;
    color: #acaca8
}

.dev{
  font-size: 5rem;
  color: var(--darkYellow);
  margin: 2rem 0
}

.contactBtns{
  display: flex;
  flex-direction: column;
  width: fit-content;
  gap: 1rem;
}

.socialMedia  {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
}

.socialMedia  img{
  width: 3rem;
  height: auto;
}

.socialMedia a {
  padding: 0.5rem
}

.socialMedia a:hover {
  padding: 0.5rem;
  border: 1px solid var(--darkYellow);
  border-radius: 5px;
}

.button {
    padding: 12px;
    border-radius: 10px;
    border: 2px solid var(--text);
    color: var(--text);
    font-size: 0.8rem;
    background: none
}

.button:hover{
  border: 2px solid var(--darkYellow);
  color: var(--darkYellow);
  cursor: pointer
}

.button:active{
    border: 3px solid var(--text);
  color: var(--text);
}

@media (max-width: 1100px) {
    .homeContent h1 {
        font-size: 6rem;
    }

    .homeContent p {
        font-size: 1.75rem;
    }

    .button:active {
        padding: 12px;
    }
}
@media (max-width: 450px) {
    .homeContent {
        min-width: 390px;
    }
    .homeContent h1 {
        font-size: 5rem;
    }

    .homeContent p {
        font-size: 1.5rem;
    }

    .button {
        font-size: 0.9rem;
    }

    .button:active {
        padding: 12px;
    }
}
