.pageContainer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    background-color: #000;
}

.homeContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    top: 12rem;
    left: 10rem;
}

.homeContent {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    font-size: 1.5rem;
    padding: 0 100px;
    min-width: 600px;
}

.homeContent p {
    font-size: 2rem;
}

.homeContent h1 {
    font-size: 7rem;
}

.button {
    align-self: flex-start;
    width: 10rem;
    margin: 4rem 100px 0;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid var(--text);
    color: var(--black);
    font-size: 0.8rem;
}

.button:active {
    padding: 14px;
    box-shadow: inset 0px 0px 19px 5px var(--darkGrey);
}

.button:hover {
    box-shadow: inset 0px 0px 19px 5px var(--darkGrey);
}

@media (max-width: 1100px) {
    .homeContent h1 {
        font-size: 6rem;
    }

    .homeContent p {
        font-size: 1.75rem;
    }

    .button:active {
        padding: 12px;
    }
}
@media (max-width: 450px) {
    .homeContent {
        min-width: 390px;
    }
    .homeContent h1 {
        font-size: 5rem;
    }

    .homeContent p {
        font-size: 1.5rem;
    }

    .button {
        font-size: 0.9rem;
    }

    .button:active {
        padding: 12px;
    }
}
