#techSkills  {
    color: var(--darkText);
    margin-bottom: 2rem;
}

.container {
    /* Configuração com Description visivel:
    display: grid;
    grid-template-columns: auto auto auto; 
    max-width: 90vw;
    */
    margin-top: 1rem;
    display:flex;
    flex-wrap: wrap;
    flex: 1 auto 1;
    justify-content: space-between;
}  

.singleIconContainer {
    display:grid;
}

.singleIconImg {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: var(--light);
    border-radius: 25px;
    margin: .5rem;
    padding: 2rem 0;
    width: 16rem;

}

h4 {
    font-weight: bold;
    padding: 0 .5rem;
    font-size: 1.25rem;
}


/* Acrescentar função de hover que torne visível a descrição do ícone.;
 */
.iconDescription {
    display: none;
    position: absolute;
    right: 0;
    width: 30vw;
    height: fit-content;
    justify-content: center;
    height: 110px;
    background: var(--light);
    border-radius: 10px;
    margin: 0.5rem;
    padding: 1.5rem;
    flex-wrap: wrap;
    align-items: center;
}

@media (max-width:1210px){
    .container{
        justify-content: center;
    }
}

@media (max-width:760px){
    .container{
        justify-content: center;
    }
    .singleIconImg {
        width: 13rem;
    }

}
