.courses h1 {
color: var(--darkText);
margin: 1rem 0;
}

.cardContainer {
   display:flex;
   flex-direction: row;
   flex-wrap: wrap;
}

.card {
    background: var(--darkGradient);
    color: var(--light);
    width: 18rem;
    height: 10rem;
    border-radius: 25px;
    display:flex;
    align-items: flex-start;
    flex-direction:column;
    margin: 1rem;
    padding: 1.5rem 1rem;
}

.card h3 {
    font-size: 2rem;
    font-weight: 800;
}

.subcontainer {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    width: 100%;
    margin-top: 1rem;
}

.info p {
    font-size:1rem;
    padding: .25rem;
}

.conclusion {
    font-size:1.75rem;
    font-weight: 800;    
}


@media (max-width:760px){
    .cardContainer{
        justify-content: center;
    }

    .card {
        width: 14rem;
        height: 9rem;
        padding:1rem;
    }

    .subcontainer {
        margin-top: .5rem;
    }

    .info p {
        font-size:1rem;
        padding: .25rem;
    }

    .conclusion {
        font-size:1.5rem;
        font-weight: 800;    
    }
    
    .info {
        margin-right: 1rem;
        text-align: start;
    }
}
