.contact {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.info{
display: flex;
flex-direction: column;
align-items: center;
}

.imgContainer {
    width: 115px;
    height: 115px;
    border-radius: 50%;
    border: 3px solid var(--darkYellow);
    display: flex;
    align-items: center;
    justify-content: center;
}

.imgContainer img {
    width: 100px;
    border-radius: 50%;
}

.email {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0;
}

.email h3 {
    font-size: 1.75rem;
    padding-top: 10px;
  color: var(--darkYellow);

}

.email a {
    color: var(--text);
  color: var(--darkYellow);

}

.socialMedia {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.socialMedia h3 {
    font-size: 1.5rem;
}

.socialMedia ul {
    justify-content: space-evenly;
    gap: 0;
    width: 40vw;
    padding: 20px 0;
}
