.header {
    height: 90px;
    width: 100%;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 200;
    position: fixed;
    background: var(--black);
}

.header nav {
    display: flex;
    flex-direction: row;
}

.header ul {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.header a {
    font-weight: 600;
    line-height: 1;
    position: relative;
    text-decoration: none;
    cursor: pointer;
    color: var(--text);
}

.header a:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 1px;
    bottom: -5px;
    left: 0;
    background-color: var(--darkYellow);
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.header a:hover:before {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.linkHome {
  display:flex;
  align-items: center;
  gap: 0.25rem;
}

.dot {
  color: var(--darkYellow);
}

.tag {
  font-size: 2rem;
  font-weight: 600;
  color: var(--darkYellow);
}

@media (max-width: 850px) {
  .header  nav {
        display: none;
    }
}
