/*Reset*/
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Variáveis */

body {
    --light: #f3f1f7;
    --darkText: #260660;
    --darkGradient: linear-gradient(
        0deg,
        rgba(68, 46, 116, 1) 12%,
        rgba(85, 47, 163, 1) 50%,
        rgba(48, 28, 93, 1) 94%
    );
}

/* Estilos globais */
#root {
    bottom: 0;
    width: 100vw;
    min-width: 500px;
    overflow-x: hidden;
}

#home,
#projects,
#contact {
    background: var(--darkGradient);
    color: var(--light);
    width: 100%;
}

.pageContainer {
    height: fit-content;
    min-height: 85vh;
    width: 100vw;
    min-width: 550px;
}
#home {
    height: 100vh;
}
#contact {
    height: calc(100vh - 90px);
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

p,
a {
    font-size: 1.125rem;
}
@media (max-width: 450px) {
    #root {
        overflow: auto;
        width: 100vw;
    }

    h1 {
        font-size: 2.5rem;
    }
}
