/*Reset*/
* {
    box-sizing: border-box;
  }

  h1,
h2,
h3,
p {
  margin: 0px;
}

ul,
li {
  list-style: none;
  padding: 0px;
  margin: 0px;
}

/* Variáveis */

body {
    --light: #F3F1F7;
    --darkText: #260660;
    --darkGradient: linear-gradient(0deg, rgba(68,46,116,1) 12%, rgba(85,47,163,1) 50%, rgba(48,28,93,1) 94%);
}

/* Estilos globais */
body{
    height: 100vh;
    bottom: 0;
    width: 100vw;
    min-width: 400px;
    overflow-x: hidden;
}

#home, #projects, #contact {
    background: var(--darkGradient);
    color: var(--light);
    width: 100%;
}

.pageContainer {
    height: 85vh;
    width: 100vw;
}

#contact {
    height: 100vh;
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

@media (max-width:450px){
    body {
        overflow: auto;
    }

    h1 {
        font-size: 2.5rem;
    }
}
