/*Reset*/
* {
    box-sizing: border-box;
}

h1,
h2,
h3,
p {
    margin: 0px;
}

ul,
li {
    list-style: none;
    padding: 0px;
    margin: 0px;
}

/* Variáveis */

body {
    --text: #f4f2e1;
    --darkestGrey: #2c2a2a;
    --darkGrey: #313339;
    --black: #222;
}

/* Estilos globais */
#root {
    bottom: 0;
    width: 100vw;
    min-width: 350px;
    overflow-x: hidden;
    color: var(--text);
    background: var(--darkGrey);
}

#home,
#projects,
#contact {
    background: var(--darkestGrey);
    width: 100%;
}

.pageContainer {
    height: fit-content;
    min-height: 85vh;
    width: 100vw;
    min-width: 350px;
}
#home {
    height: 100vh;
}
#contact {
    height: calc(100vh - 90px);
}

h1 {
    font-size: 3.5rem;
    font-weight: bold;
}

p,
a {
    font-size: 1.125rem;
}
@media (max-width: 450px) {
    #root {
        overflow: auto;
        width: 100vw;
    }

    h1 {
        font-size: 2.5rem;
    }
}
